@page
@model AppRazor.Pages.SeedModel

<h1>All Friends</h1>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">@Model.Message</div>
}

@if (Model.Friends.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var friend in Model.Friends)
        {
            <tr>
                <td>@friend.FirstName @friend.LastName</td>
                <td>@friend.Email</td>
                <td>@friend.Birthday?.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No friends found.</p>
}
